/* global stuff */

:root {
    --main-color: rgb(88, 88, 224);
    --gray-color: #333;
    --lightgray-color: #888;
    --danger-color: rgb(221, 53, 53);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    color: white;
    background-color: var(--main-color);
    padding: 30px 0px;
    font-weight: 300;
    margin-bottom: 20px;
}

#container {
    max-width: 500px;
    margin: 0 auto;
    padding: 0px 20px;
}

/* inputs */

input,
select,
textarea,
button {
    font-family: inherit;
    font-size: inherit;
    display: inline-block;
    padding: 10px;
}

/* task form */

#taskForm {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 20px;
    margin: 30px 0px 10px 0px;
    color: var(--gray-color);
}

button {
    background-color: var(--main-color);
    padding: 10px 20px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

textarea {
    resize: vertical;
}

#statusInput {
    margin-bottom: 50px;
}

#taskForm button {
    margin: 10px 0px;
}

/* task list */

#taskList {
    margin-bottom: 20px;
}

/* tasks */

.task {
    padding: 10px;
    margin: 35px 0px;
    border-radius: 5px;
    position: relative;
    text-align: justify;
}

.taskTitle {
    margin-bottom: 10px;
}

.taskDescription {
    color: var(--gray-color);
}

/* controls */

.controls {
    position: absolute;
    top: -20px;
    right: 0;
}

.control {
    color: var(--lightgray-color);
    margin: 0px 2px;
}

.control:hover {
    cursor: pointer;
    color: inherit;
}

/* status display */

.finished {
    opacity: 0.2;
}

.open {
    opacity: 1;
}

/* priority display */

.highPrio {
    background-color: rgba(255, 0, 0, 0.3);
}

.mediumPrio {
    background-color: rgba(255, 255, 0, 0.3);
}

.lowPrio {
    background-color: rgba(0, 255, 0, 0.3);
}

/* error message */

#errorMessage {
    text-align: center;
    color: var(--danger-color);
    font-weight: bold;
}

/* utils */

.centered {
    text-align: center;
}

.danger {
    background-color: var(--danger-color);
}
